@{
    ViewData["Title"] = "Sobre";
}
<h2>@ViewData["Title"]</h2>

<p>
    Valemobi Web é uma plataforma de negociação de mercadorias.
    <br />
</p>
<p>
    Este projeto faz parte do teste de admissão em vaga de estágio
    na Valemobi.
    <br />
</p>
<p>
    Feito com ASP.NET Core.
</p>
