@{
    ViewData["Title"] = "Contato";
}
<h1>@ViewData["Title"]</h1>
<br />

<address>
    <strong>Autor: </strong> Giovanni Armane
    <br />
</address>
<address>
    <strong>Email:</strong> <a href="mailto:giovanniarmane@gmail.com">giovanniarmane@gmail.com</a>
    <br />
</address>
