@{
    ViewData["Title"] = "Home";
}

<h1>Bem-vindo ao Valemobi Web</h1>

<p>
    <a asp-controller="Mercadoria" asp-action="Index">Listar mercadorias</a>
</p>

<p>
    <a asp-controller="Mercadoria" asp-action="Form">Adicionar mercadoria</a>
</p>
